<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tre.jdevtemplateboot.mapper.MainSaleCompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tre.jdevtemplateboot.domain.po.MainSaleCompany">
        <id column="code" property="code" />
        <result column="name" property="name" />
        <result column="pCode" property="pCode" />
        <result column="pName" property="pName" />
        <result column="createId" property="createId" />
        <result column="createTime" property="createTime" />
        <result column="updateId" property="updateId" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        code, name, pCode, pName, createId, createTime, updateId, updateTime
    </sql>

</mapper>
