<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tre.jdevtemplateboot.mapper.SysStockAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tre.jdevtemplateboot.domain.po.SysStockArea">
        <id column="stockAreaCode" property="stockAreaCode" />
        <result column="name" property="name" />
        <result column="location" property="location" />
        <result column="acreage" property="acreage" />
        <result column="amount" property="amount" />
        <result column="remark" property="remark" />
        <result column="warehouseCode" property="warehouseCode" />
        <result column="createId" property="createId" />
        <result column="createTime" property="createTime" />
        <result column="updateId" property="updateId" />
        <result column="updateTime" property="updateTime" />
        <result column="flag" property="flag" />
        <result column="startNumber" property="startNumber" />
        <result column="endNumber" property="endNumber" />        
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        stockAreaCode, name, location, acreage, amount, remark, warehouseCode, createId, createTime, updateId, updateTime, flag, startNumber, endNumber 
    </sql>

	<!-- 查询库区一览信息 -->
	<select id="searchAll"
		parameterType="com.tre.jdevtemplateboot.web.pojo.StockPositionParameterBean"
		resultType="java.util.Map">
 		SELECT
			s.stockAreaCode,
			s.name,
		CASE WHEN s.flag='0'
			 THEN '临时库区'
			 WHEN s.flag='1'
			 THEN '固定库区'
		END AS flagName,
			s.amount,
			s.location,
			w.name as warehouseName
		FROM sysStockArea s

		LEFT JOIN sysWarehouse w
			ON w.warehouseCode = s.warehouseCode

		where 1=1
		<if test="warehouse!=null and warehouse!=''">
			AND s.warehouseCode = #{warehouse}
		</if>

		<if test="stockArea!=null and stockArea!=''">
			AND upper(s.name) like '%'+upper(#{stockArea,jdbcType=VARCHAR})+'%'
		</if>

		<if test="orderColumn != null and orderColumn != ''">
			order by ${orderColumn} ${orderDir}
		</if>

	</select>   
	
	<!-- 查询单个库区信息 -->
	<select id="info" parameterType="String" resultType="com.tre.jdevtemplateboot.domain.po.SysStockArea">
		SELECT * FROM sysStockArea
		where stockAreaCode = #{code,jdbcType=VARCHAR}
	</select>	 
	<!-- 根据仓库查询库区 -->
	<select id="selectListWithWarehouse" parameterType="String" resultType="com.tre.jdevtemplateboot.domain.po.SysStockArea">
	select name,
		   stockAreaCode
		   from sysStockArea
		   where warehouseCode = #{warehouseCode}
	</select> 
	
	<!-- 查询最大的库区code -->
	<select id="selectMaxCode" resultType="STRING">
		select max(stockAreaCode) FROM sysStockArea
	</select>		
	
	<!-- 查询库区list -->
	<select id="getReservoirAreaList" resultType="java.util.Map">
		select 
			stockAreaCode as code,
			name
		FROM sysStockArea
	</select>
    
</mapper>
